/* default */
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: rgb(243, 243, 243);
}

.con{
  width: 70%;
  margin: auto;
        position: relative;
}

header{
  padding: 50px 0 30px 0;
}

header .con{
  border-bottom: 1px solid black;
}

header h1{
  padding-bottom: 10px;
}

header p{
  color: gray;
  line-height: 1.5;
  padding-bottom: 20px;
}
