* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.contents{
    width: 100vw;
    /* height: 100vh; */
    background-color: #FFBE08;
    overflow: hidden;

    height: 0;
    position: absolute;
    bottom: 0;

    transition: height .5s ease-in-out;

}

.height_100vh{
    height: 100vh;
}

.contents *{
    font-family: 'Work Sans', sans-serif;
}

.contents .white {
    /* width: 80vw; */
    height: 95vh;
    background-color: white;
    position: absolute;
    top: 2.5vh;
    /* right: 0; */
    transition: all .8s ease-in-out;

    width: 150vw;
    right: 100vw;

    /*    시간이 되었을 때 */
    /*    width: 40vw;*/
}



.contents .mini {
    position: absolute;
    bottom: 0;
    left: -215px;
    width: 260px;
}

.contents .mini img {
    width: 100%;
    display: none;
}

.contents .mini .mini-visible {
    display: block
}



.contents .wrap {
    width: 65vw;
    height: 70vh;
    color: #707070;
    position: absolute;
    top: 13vh;
    left: 7.5vh;
}

.contents .wrap img {
    width: 15vh;
    position: relative;
}

.contents h3 {
    font-size: 5.5vh;
    font-weight: normal;
    margin: 3vh 0 4vh 0;
}

.contents .light {
    font-weight: lighter;
    margin-top: 1.5vh;
    font-size: 2.3vh;
    color: #707070;
    line-height: 1.8;
}

.contents .regular {
    margin-top: 4vh;
    font-size: 2.6vh;
}

.contents #yellow {
    color: #FFBE08;
}

.contents .floor {
    position: absolute;
    font-size: 1.5vh;
    font-weight: lighter;
    right: 0;
    opacity: 0.5;
    bottom: -10vh;
}

@media all and (max-width:415px) {

    @keyframes moving {
        from {
            left: -46vw;
        }
        to {
            left: 92vw;
        }
    }

    .contents .mini {
        width: 40vw;
        height: 20vw;
        top: -9vh;
        animation-name: moving;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-delay: 3s;
        animation-iteration-count: infinite;
    }


    .contents .mini .mini-visible {
        display: none;
    }

    .contents .mini .mini-mobile {
        display: block;
    }

    .contents .white {
        width: calc(100vw - 6vh);
        /* height: 77vh; */
        position: absolute;
        /* top: 20vh; */
        right: 3vh;

        top: 100vh;
        height: 100vh;

    }



    .contents .wrap {
        width: 65vw;
        height: 55vh;
        position: absolute;
        top: 13vh;
        left: 6vh;
    }


    .contents .wrap img {
        display: none;
    }

    .contents h3 {
        font-size: 4vh;
        margin-top: 0;
    }
    

    .contents .floor {
        bottom: 82vh;
        color: white;
        width: 90vw;
        right: -23vw;
        font-size: 3vw;
    }
}
